.App {
    background-image: url("https://images.pexels.com/photos/911738/pexels-photo-911738.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2");
    height: 100vh;
}


.search-quizz {
    display: flex;
    justify-content: space-around;
    align-items: center;
}