* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.kanji-card {
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  border-radius: 12px;
  width: 100%;
  max-width: 700px;
  min-height: 50vh;
  margin: 10px auto;
  background-color: whitesmoke;
}

.card-header {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding: 0;
  margin-bottom: 20px;
}

.card-header img {
  max-width: 100%;
  height: auto;
}

.card-body {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 2rem;
  margin: 10px;
}

.kanji-information-title {
  height: 150px;
  width: 150px;
  border: solid 5px black;
  text-align: center;
  vertical-align: middle;
  border-radius: 12px;
  margin-top: 12px;
}

h1 {
  font-size: 6rem;
  margin-bottom: 20px;
}

.jlpt {
  border-radius: 12px;
  background-color: cadetblue;
  margin: 10px;
  padding: 5px;
  font-size: 1.5rem;
}

.grade {
  border-radius: 12px;
  background-color: brown;
  margin: 10px;
  padding: 5px;
  font-size: 1.5rem;
}

.search-bar {
  font-size: 1.5rem;
  width: 100%;
  max-width: 400px;
  height: 5vh;
  border-radius: 8px;
  margin-bottom: 20px;
  padding: 5px;
}